php_flag opcache.enable Off
php_value post_max_size 2000M
php_value upload_max_filesize 2000M

RewriteEngine On

RedirectMatch 403 /\..*$
RedirectMatch 403 ^/fbext/(.*)$

RewriteRule ^assets/(.*)$ assets/$1 [L]
RewriteRule ^css/(.*)$ css/$1 [L]
RewriteRule ^js/(.*)$ js/$1 [L]
RewriteRule ^img/(.*)$ img/$1 [L]
RewriteRule ^uploads/(.*)$ uploads/$1 [L]
RewriteRule ^(.*)ico$ $1ico [L]

RewriteCond %{REQUEST_URI} !index.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^.*$ index.php [NC,L]