.header--standard.headroom--not-top {
    padding-top: 10px;
}

.landing-page .header-spacer--standard {
    margin-bottom: 0;
}

.header--standard {
    padding: 20px 55px;
}

.header-spacer--standard {
    height: 100px;
}